@import "~carbon-components/src/globals/scss/vars";

.notificationsPanel {
  min-height: 8rem;
}

.emptyState {
  margin: 1rem 1rem 0rem;
  color: $ui-background;
}

.loading {
  margin: 1rem;
  height: 2rem;
  width: auto;
}
